/* En tu archivo CSS, por ejemplo, styles.css */
.tooltipCustom {
  background-color: rgba(48, 176, 231, 0.9);
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #777;
}
